body {
    box-sizing: border-box;
}

h3 {
    display: block;
}

a {
    text-decoration: none;
    display: block;
}

.title {
    text-align: center;
}

.container img {
    display: block;
    margin: auto;
    border: 5px solid #FF7F50;
    padding: 24px;
}

.button-container button {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-style: bold;
    display: block;
    color: white;
    margin: auto;
    border: 5px solid #FFD700;
}

#Pasta {
    background-color: #FF4500;
    display: block;
    padding: 0px 30px;
}

#Bibimbap {
    background-color: #556B2F;
    display: block;
    padding: 0px 13px;
}

#Sujeonggwa {
    background-color: #C46200;
    display: block;
    padding: 0px 10px;
}